# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: UserDefaultMacro

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v5
    - name: Install Swiftly
      run: |
        curl -L https://download.swift.org/swiftly/darwin/swiftly.pkg -o swiftly.pkg
        installer -pkg swiftly.pkg -target CurrentUserHomeDirectory
        export PATH="$HOME/.swiftly/bin:$PATH"
        ~/.swiftly/bin/swiftly init --assume-yes --quiet-shell-followup
        source "${SWIFTLY_HOME_DIR:-$HOME/.swiftly}/env.sh"
        echo "$HOME/.swiftly/bin" >> $GITHUB_PATH
        echo "SWIFTLY_HOME_DIR=${SWIFTLY_HOME_DIR}" >> $GITHUB_ENV
        echo "SWIFTLY_BIN_DIR=${SWIFTLY_BIN_DIR}" >> $GITHUB_ENV
    
    - name: Install Swift 6.2
      run: |
        swiftly install 6.2
        swiftly use 6.2
    
    - name: Verify Swift
      run: swift --version
    - name: Build code
      run: swift build -v
    - name: Run tests
      run: swift test -v
    - name: Build DocC
      run: ./build-docc.sh
